<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main_Page</title>

</head>
<body>
  <h1> this is main page </h1>
  <iframe src=\"http://localhost:8501\" width=\"800\" height=\"600\"></iframe>
  <div class="logout">
    <button onclick="location.href='index.html'">Logout</button>
  </div>

<div class="menu">
  <button>Услуга 1</button>
  <button>Услуга 2</button>
  <button>Услуга 3</button>
  <button>Услуга 4</button>
</div>

<footer>
    <h3>FOOTER</h3>
</footer>
</body>
</html>